* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;

}

.main-container_text {
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 30px;
}

.main-container_author {
  align-self: flex-end;
  height: 10vh;
  font-style: italic;
}

.main-container_button {
  align-self: center;
  position: absolute;
  bottom: 50px;

}

button {
  color: #000;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #3a311b #000 #1e150c;
  border-radius: 6px;
  background: linear-gradient(#584517, #db943a) #E38916;
  transition: 0.2s;
  font-size: 18px;
  width: 150px;
  height: 50px;
  font-weight: 800;
}

button:hover {
  background: linear-gradient(#db943a, #584517) #db943a;
}

button:active {
  background: linear-gradient(#584517, #db943a) #E38916;
}